body {
    font-family: 'Julius Sans One', sans-serif;
}

ul {
    font-family: 'Quicksand', sans-serif;
}

#header {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px black solid;
}

#footer {
    margin-top: 25px;
    font-size: small;
    background-color: rgb(1, 21, 26);
    line-height: .5;
    padding-top: 15px;
    font-family: 'Quicksand', sans-serif;
}

#headerBackground {
    text-align: center;
    width: 100%;
    background: gray;
    height: 100px;
    background-image: url("../images/header.jpg");

}

.image {
    margin-bottom: 10px;
}

.imageItem {
    height: 160px;
    width: 160px;
}

.restaurantImage {
    margin-right: 50px;
    float: left;
    height: 100px;
    width: 100px;
}

.restaurantItem {
    margin-bottom: 15px;
}

#filterCol {
    height: 100px;
    display: -webkit-inline-box;
}



#concertFilter {
    margin-left: 40px;
}

#sportFilter,
#artsTheaterFilter,
#familyFilter,
#vipFilter,
#dealsFilter {
    margin-left: 60px;

}

#concertFilter:hover,
#sportFilter:hover,
#artsTheaterFilter:hover,
#familyFilter:hover,
#vipFilter:hover,
#dealsFilter:hover {
    color: blanchedalmond;

}

#eventCard {
    width: 80%;
}

#eventCol img {
    width: 100%;
}

#eventDisplay {
    display: none;
}

#currentCity {
    margin-bottom: 25px;
}

#restaurantDetails {
    height: 500px;
    overflow: scroll;

}

.sideImages {
    padding-top: 58px;
    
}

.btn-light {
    margin-bottom: 5px;
}

/* extra */
.intersecting-circles-spinner, .intersecting-circles-spinner * {
    box-sizing: border-box;
  }

  .intersecting-circles-spinner {
    height: 70px;
    width: 70px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
  }

  .intersecting-circles-spinner .spinnerBlock {
    animation: intersecting-circles-spinners-animation 1200ms linear infinite;
    transform-origin: center;
    display: block;
    height: 35px;
    width: 35px;
  }

  .intersecting-circles-spinner .circle {
    display: block;
    border: 2px solid #ff1d5e;
    border-radius: 50%;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .intersecting-circles-spinner .circle:nth-child(1) {
    left: 0;
    top: 0;
  }

  .intersecting-circles-spinner .circle:nth-child(2) {
    left: calc(35px * -0.36);
    top: calc(35px * 0.2);
  }

  .intersecting-circles-spinner .circle:nth-child(3) {
    left: calc(35px * -0.36);
    top: calc(35px * -0.2);
  }

  .intersecting-circles-spinner .circle:nth-child(4) {
    left: 0;
    top: calc(35px * -0.36);
  }

  .intersecting-circles-spinner .circle:nth-child(5) {
    left: calc(35px * 0.36);
    top: calc(35px * -0.2);
  }

  .intersecting-circles-spinner .circle:nth-child(6) {
    left: calc(35px * 0.36);
    top: calc(35px * 0.2);
  }

  .intersecting-circles-spinner .circle:nth-child(7) {
    left: 0;
    top: calc(35px * 0.36);
  }

  @keyframes intersecting-circles-spinners-animation {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }