body {
    font-family: 'Julius Sans One', sans-serif;
}

ul {
    font-family: 'Quicksand', sans-serif;
}

#header {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px black solid;
}

#headerBackground {
    text-align: center;
    width: 100%;
    background: gray;
    height: 100px;
    background-image: url("../images/header.jpg");

}

.image {
    margin-bottom: 10px;
}

.imageItem {
    height: 160px;
    width: 160px;
}

.restaurantImage {
    margin-right: 50px;
    float: left;
    height: 100px;
    width: 100px;
}

.restaurantItem {
    margin-bottom: 15px;
}

#filterCol {
    height: 100px;
    display: -webkit-inline-box;
}



#concertFilter {
    margin-left: 40px;
    padding-top: 3px;
    width: 12%;
    font-size: 23px;
}

#sportFilter,
#artsTheaterFilter,
#familyFilter,
#vipFilter,
#dealsFilter {
    border-left: 1px solid #B58900;
    width: 12%;
    height: 30px;
    text-align: center;
    padding-top: 3px;
    font-size: 23px;
}

#concertFilter:hover,
#sportFilter:hover,
#artsTheaterFilter:hover,
#familyFilter:hover,
#vipFilter:hover,
#dealsFilter:hover {
    color: #B58900;

}

#eventCard {
    width: 80%;
}

#eventCol img {
    width: 100%;
}

#eventDisplay {
    display: none;
}

#currentCity {
    margin-bottom: 25px;
}

#restaurantDetails {
    height: 500px;
    overflow: scroll;

}

.sideImages {
    padding-top: 58px;
    
}

.defaultImages {
    border: 2px solid #839496;
    border-radius: 6px;
}

.event-image {
    border: 2px solid #839496;
    border-radius: 6px;
}

.event-name {
    font-family: 'Cinzel', serif;
    font-size: 20px;

}

.event-image,
.event-name,
.event-info,
.venue-name {
    text-align: center;
}

.event-name {
    margin-top: 10px
}

.venue-name,
.event-info {
    font-family: 'Kalam', cursive;
}

#eventCol {
    height: 650px;
    overflow: scroll;
}

/******** scroll bar ********/
/* width */
#eventCol::-webkit-scrollbar {
    width: 20px;
}

/* Track */
#eventCol::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}

/* Handle */
#eventCol::-webkit-scrollbar-thumb {
    background: #B58900; 
    border-radius: 10px;
}
/*****************************/