#header {
    margin-top: 25px;
    margin-bottom: 25px;
    border-bottom: 1px black solid;
}

#headerBackground {
    text-align: center;
    width: 100%;
    background: gray;
    height: 100px;
    background-image: url("../images/header.jpg");

}

.image {
    margin-bottom: 15px;
}

.restaurantImage {
    margin-right: 50px;
    float: left;
}

.restaurantItem {
    margin-bottom: 25px;
}

#eventDisplay{
    display: none;
}

#currentCity{
    margin-bottom: 25px;
}

#eventDisplay img{
    width:100%;
}